/*ボタン*/
.c-button {
	display: block;
	padding: $space_m;
	border-radius: $space_s;
	border: none;

	&__menu{
		background-color: $background-color_nav;
		color: $font-color_header;

		&:hover{
			background-color: $background-color_hover;
			color: $font-color_base;
		}
	}

	&__link{
		background-color: $background-color_button;
	}

	&__small{
		background-color: $background-color_small;
	}
}
