/*ボタン*/
.c-button {
	display: block;
	padding: $space_m;
	border-radius: $space_s;
	border: none;
    font-size: $font-size_default;

	&__menu{
		background-color: $background-color_nav;
		color: $font-color_header;

		&:hover{
			background-color: $background-color_hover;
			color: $font-color_base;
		}
	}

	&__link{
		background-color: $background-color_button;
    
      &:hover{
          background-color: $background-color_hover;
          color: $font-color_base;
      }
	}

	&__small{
		background-color: $background-color_small;
	}
    
    &__submit{
        background-color: $background-color_submit;
        color: $font-color_header;
        
        & a{
            color: $font-color_header;
        }

        &:hover{
            background-color: $background-color_submit_hover;
            color: $font-color_base;
            
            & a{
                color: $font-color_base;
            }
        }
    }
}
