/*フォーム項目*/
.c-form{
	padding: $space_s;
	box-sizing: border-box;
	border: 1px solid #eee;

	&__title {
		display: block;
	}

	/*テキストフォーム*/
	&__text {
		width: 100%;
		font-size: $font-size_m;
	}

	/*数字フォーム*/
	&__num {
		width: 100px;
		font-size: $font-size_default;
	}

	/*セレクトフォーム*/
	&__select{
		width: 100%;
		font-size: $font-size_default;
	}

}
